<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Create User</title>
</head>
<body>
<form method="post">
  <input type="text" name="name" value="Name">
  <input type="text" name="email" value="Email">
  <input type="text" name="password" value="Password">
  <button type="submit">Create user</button>
</form>
</body>
</html>